<!DOCTYPE html>
<html>
  <head>
    <title>GitlioBeta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li>
        <% if current_user %>
          <%= "Signed in as #{current_user.login}" %>
          <%= link_to "Logout", github_logout_path, method: :delete %>
        <% else %>
          <%= link_to "Login", github_login_path %>
        <% end %>
      </li>
      <% if current_user %>
        <li> <%= link_to "Your Profile", user_path(current_user) %> </li>
      <% end %>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
